*{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    background-image: url(./download.jpeg);
    height:100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float:right;
    margin:20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:whitesmoke;
    padding:5px 20px;
    border :1px solid transparent;
}
ul li a:hover{
    background-color: whitesmoke;
    color:black;
}
ul li.active a{
    background-color: whitesmoke;
    color:black;
}
.logo img{
    float:left;
    width:100px;
    height:auto;
}
.displaytext{
    position:absolute;
    top:5%;
    left:10%;

}
.displaytext h1{
    color:whitesmoke;
    font-size: 30px;
}